#app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  width: 100vw;
}

@font-face {
  font-family: "EASTARJET-Heavy";
  src: url("/fonts/EASTARJET-Heavy.ttf");
}

@font-face {
  font-family: "EASTARJET-Medium";
  src: url("/fonts/EASTARJET-Medium.ttf");
}

@font-face {
  font-family: "EASTARJET-DemiLight";
  src: url("/fonts/EASTARJET-DemiLight.ttf");
}