<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.enjoytrip.member.model.mapper.MemberMapper">

	<resultMap type="MemberDto" id="member">
		<result column="user_id" property="userId"/>
		<result column="user_name" property="userName"/>
		<result column="user_pass" property="userPwd"/>
		<result column="email_id" property="emailId"/>
		<result column="email_domain" property="emailDomain"/>
		<result column="join_date" property="joinDate"/>
		<result column="token" property="refreshToken"/>
	</resultMap>


	<select id="login" parameterType="map" resultMap="member">
		select user_id, user_name, token
		from members
		where user_id = #{userId} and user_pass = #{userPwd}
	</select>
	
	<select id="userInfo" parameterType="string" resultMap="member">
		select user_name, user_id, email_id, email_domain, join_date
		from members
		where user_id = #{userId}
	</select>
	
	<update id="saveRefreshToken" parameterType="map">
		update members
		set token = #{token}
		where user_id = #{userId}
	</update>
	
	<select id="getRefreshToken" parameterType="string" resultType="string">
		select token
		from members
		where user_id = #{userId}
	</select>

	<insert id="saveMember" parameterType="MemberDto">
		insert into members (user_id, user_name, user_pass, email_id, email_domain, join_date, token)
		values (#{userId}, #{userName}, #{userPwd}, #{emailId}, #{emailDomain}, now(), #{refreshToken});
	</insert>
	
	<update id="deleteRefreshToken" parameterType="map">
		update members
		set token = #{token, jdbcType=VARCHAR}
		where user_id = #{userId}
	</update>
	
</mapper>