<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.enjoytrip.qna_comment.model.mapper.QnaCommentMapper">

    <resultMap type="QnaCommentResponseDto" id="comment">
        <result column="id" property="id"/>
        <result column="post_id" property="postId"/>
        <result column="content" property="content"/>
        <result column="writer" property="writer"/>
        <result column="created_date" property="createdDate"/>
        <result column="modified_date" property="modifiedDate"/>
    </resultMap>

    <!-- tb_comment 테이블 전체 컬럼 -->
    <sql id="commentColumns">
        id
        , post_id
        , content
        , writer
        , delete_yn
        , created_date
        , modified_date
    </sql>


    <sql id="commentInsertColumns">
        post_id
        , content
        , writer
        , delete_yn
        , created_date
        , modified_date
    </sql>


    <!-- 댓글 저장 -->
    <insert id="save" parameterType="QnaCommentRequestDto" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO qna_comment (
        <include refid="commentInsertColumns" />
        ) VALUES (
        #{postId}
        , #{content}
        , #{writer}
        , 0
        , NOW()
        , NULL
        )
    </insert>


    <!-- 댓글 상세정보 조회 -->
    <select id="findById" parameterType="long" resultType="QnaCommentResponseDto">
        SELECT
        <include refid="commentColumns" />
        FROM
        qna_comment
        WHERE
        id = #{value}
    </select>


    <!-- 댓글 수정 -->
    <update id="update" parameterType="QnaCommentRequestDto">
        UPDATE qna_comment
        SET
            modified_date = NOW()
          , content = #{content}
          , writer = #{writer}
        WHERE
            id = #{id}
    </update>


    <!-- 댓글 삭제 -->
    <delete id="deleteById" parameterType="Long">
        DELETE FROM qna_comment
        WHERE id = #{id}
    </delete>


    <!-- 댓글 리스트 조회 -->
    <select id="findAll" parameterType="long" resultMap="comment">
        SELECT
        <include refid="commentColumns" />
        FROM
        qna_comment
        WHERE
        delete_yn = 0
        AND post_id = #{value}

    </select>

</mapper>